<ion-header>
	<ion-toolbar>
		<ion-title> Tab 1 </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-button expand="full" (click)="logout()">Logout</ion-button>
	<ion-button expand="full" (click)="getIdentityClaims()">getIdentityClaims</ion-button>

	<ion-button expand="full" (click)="authorizationHeader()">authorizationHeader</ion-button>

	<ion-button expand="full" (click)="hasValidIdToken()">hasValidIdToken</ion-button>
	<ion-button expand="full" (click)="getAccessTokenExpiration()">getAccessTokenExpiration</ion-button>

</ion-content>